NEXT_PUBLIC_SUPABASE_URL=https://ftboazzwovnrejptgaah.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0Ym9henp3b3ZucmVqcHRnYWFoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzMDA5ODMsImV4cCI6MjA4ODg3Njk4M30.SwE_wYPM_mjBc0k6XqT-7qNkJq1aWZEYJ_WFAtG0--4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0Ym9henp3b3ZucmVqcHRnYWFoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzMwMDk4MywiZXhwIjoyMDg4ODc2OTgzfQ.4hvfV_RTsduHN4MdWV_pzjE9uWR-Fymv3rYIDv__RGE
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
TWILIO_WHATSAPP_FROM=+14155238886
RESEND_API_KEY=
ADMIN_EMAIL=tejasdhok3@gmail.com
NEXT_PUBLIC_APP_URL=https://your-public-app-domain.com
APP_URL=https://your-public-app-domain.com
